<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117385232890-5kifj6vlelneqcc008clmo80pahdeo1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117385232890-5kifj6vlelneqcc008clmo80pahdeo1l</string>
	<key>API_KEY</key>
	<string>AIzaSyCSe3fG6oGsRodyQHDZMctORoEeRJjCcTU</string>
	<key>GCM_SENDER_ID</key>
	<string>117385232890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poojaShop</string>
	<key>PROJECT_ID</key>
	<string>poojashop-100ad</string>
	<key>STORAGE_BUCKET</key>
	<string>poojashop-100ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117385232890:ios:761b89a608c75b35cf2443</string>
</dict>
</plist>